.tabs-section {
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
}
.tabs {
    position: relative;
}
.tabs__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.tabs__item:not(:last-child) {
    margin-right: 10px;
}
.tabs__btn {
    padding: 15px 62px;
    border: none;
    background-color: var(--color-accent);
    color:#fff;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.tabs__btn:hover {
    background-color: #fff;
    color: var(--color-accent);
}
.tabs__btn--active {
    background-color: #fff;
    color: var(--color-accent);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    pointer-events: none;
}
.tabs__content {
    display: none;
    background-color: #fff;
}
.tabs__content--active {
    display: block;
}
.cont {
    padding: 40px 60px;
}
.content__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-dark);
}
.content__descr {
    width: 100%;
    margin: 0;
    margin-bottom: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-dark);
}
.content__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content__link {
    width: 250px;
    padding: 14px;
    display: inline-block;
    border-radius: 4px;
    background-color: #ebecf3;
}
.content__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-dark);
}